.navbar-inverse {
	background-color: #2c3e50;
	
}


.navbar-inverse .navbar-brand{
	color:white;
}
.navbar-inverse .navbar-collapse ul li a{
	color:white;
}

.jumbotron{
	margin-top: 10%;
	text-align: center;
}
.frontpagepictext{
	text-align: center;
}
h5{
	font-weight: bold;
}
.frontpageiconsdivs{
	margin-top: 30px;
	
}
.frontpageiconsdivs a{
	color:darkslategray;
	font-family: 'Bitter', serif;
}


/* Form */
input[type=text], input[type=number], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.inp {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 25%;
    margin: auto;
} 