
	{% include "head.html" %}

	<h1 class=heading>About AQM</h1>

	<br><br>
	<div class =block>
		<p> AQM is a Air Quality Monitoring Software devolped by Students of SE8B for the project of Software Engineering</p>
		<p> You can view the source code on Github at <a href=https://github.com/bharara/AQM>https://github.com/bharara/AQM</a></p>
	</div>


	<h2 class=heading>Devolped by:</h2>
	<div class=block>
		<ul>
			<li> Abdul Hadi</li>
			<li> Ahmad Naeem</li>
			<li> Mashhood Ijaz </li>
			<li> Muneeb Aijaz </li>
		</ul>
	</div>

	<h2 class=heading>Devolped Using:</h2>
	<div class=block>
		<ul>
			<li> HTML/CSS</li>
			<li> JavaScript – CanvasJS</li>
			<li> ArdinoUNO - ArdinoIDE </li>
			<li> Python Flask </li>
			<li> Python Serial </li>
			<li> MySQL Server </li>
		</ul>
	</div>
	</div>
</body>
</html>