
	{% include "head.html" %}


	<h1 class=heading>Ground Floor</h1>
	<div class = block>
	<!-- table for first floor-->
	<table style="margin: auto;">
	<tbody>
		<tr>
			<td rowspan=2 style = "background-color:{{colorDic["cr3"]}};"><a href="/class/cr3">	CR3	</a></td>
			<td rowspan=2 style = "background-color: {{colorDic["cr2"]}};"><a href="/class/cr2">	CR2	</a></td>
			<td style = "background-color: white">		</td>
			<td  rowspan=2 colspan=2 style = "background-color: {{colorDic["cr1"]}};"><a href="/class/cr1">	CR1	</a></td>
		</tr>
		<tr>
			<td style = "background-color: white">		</td>
		</tr>
		<tr>	
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
		</tr>
		<tr>
			<td rowspan=2 style = "background-color: {{colorDic["cr4"]}};"><a href="/class/cr4">	CR4	</a></td>
			<td rowspan=2 style = "background-color: {{colorDic["cr5"]}};"><a href="/class/cr5">	CR5	</a></td>
			<td style = "background-color: white">		</td>
			<td rowspan=2 style = "background-color: {{colorDic["cr6"]}};"><a href="/class/cr6">	CR6	</a></td>
			<td rowspan=2 style = "background-color: {{colorDic["cr7"]}};"><a href="/class/cr7">	CR7	</a></td>
		</tr>
		<tr>
			<td style = "background-color: white">		</td>
		</tr>
	</tbody>
	</table>
	</div>

	<h1 class=heading> First Floor</h1>
	<div class = block>
	<!-- table for first floor-->
	<table style="margin: auto;">
	<tbody>
		<tr>
			<td rowspan=2 style = "background-color:{{colorDic["cr13"]}};"><a href="/class/cr13">	CR13	</a></td>
			<td rowspan=2 style = "background-color: {{colorDic["cr12"]}};"><a href="/class/cr12">	CR12	</a></td>
			<td style = "background-color: white">		</td>
			<td  rowspan=2 style = "background-color: {{colorDic["cr11"]}};"><a href="/class/cr11">	CR11	</a></td>
			<td  rowspan=2 style = "background-color: {{colorDic["cr10"]}};"><a href="/class/cr10">	CR10	</a></td>
		</tr>
		<tr>
			<td style = "background-color: white">		</td>
		</tr>
		<tr>	
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
		</tr>
		<tr>
			<td rowspan=2 style = "background-color: {{colorDic["cr14"]}};"><a href="/class/cr14">	CR14	</a></td>
			<td style = "background-color: {{colorDic["cr15"]}};"><a href="/class/cr15">	CR15	</a></td>
			<td style = "background-color: white">		</td>
			<td rowspan=2 style = "background-color: {{colorDic["cr8"]}};"><a href="/class/cr8">	CR8	</a></td>
			<td rowspan=2 style = "background-color: {{colorDic["cr9"]}};"><a href="/class/cr9">	CR9	</a></td>
		</tr>
		<tr>
			<td><a href="/class/admin">	Admin Office	</a></td>
			<td style = "background-color: white">		</td>
		</tr>
	</tbody>
	</table>
	</div>

	<h1 class=heading>Lab Wing</h1>
	<div class = block>
	<!-- table for first floor-->
	<table style="margin: auto;">
	<tbody>
		<tr>
			<td rowspan=2 style = "background-color: {{colorDic["lab2"]}};"><a href="/class/lab2">	Lab 2	</a></td>
			<td style = "background-color: white">		</td>
			<td  rowspan=2 style = "background-color: {{colorDic["gpl"]}};"><a href="/class/gpl">	GPL	</a></td>
			<td  rowspan=2 style = "background-color: {{colorDic["lab5"]}};"><a href="/class/cr10">	Lab 5  </a></td>
		</tr>
		<tr>
			<td style = "background-color: white">		</td>
		</tr>
		<tr>	
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
			<td style = "background-color: white">		</td>
		</tr>
		<tr>
			<td rowspan=2 style = "background-color: {{colorDic["lab1"]}};"><a href="/class/lab1">	Lab 1	</a></td>
			<td style = "background-color: white">		</td>
			<td rowspan=2 style = "background-color: {{colorDic["lab3"]}};"><a href="/class/lab3">	Lab 3	</a></td>
			<td rowspan=2 style = "background-color: {{colorDic["lab4"]}};"><a href="/class/lab4">	Lab 4	</a></td>
		</tr>
		<tr>
			<td style = "background-color: white">		</td>
		</tr>
	</tbody>
	</table>
	</div>
</div>
</body>
</html>