<!DOCTYPE html>
<html lang ='en'>
<head>
	<title>	{{title}} </title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/main.css">

</head>
<body>
	<!--Heading Of Website and Navigation-->
	<header>
		<!--Navigation-->
		<nav>
			<ul class=navlist>
			  <li class=fleft><a href="/">Home</a></li>
			  <li class=fleft><a href="/class">Classrooms</a></li>
			  <li class=fleft><a href="/indicators">Indicators</a></li>
			  <li class=fleft><a href="/about">About</a></li>
			  <li class=fleft style="float:right"><a class="active" href="/login">Admin Login</a></li>
			</ul>
		</nav>
	</header>

	<div class="content">

		{% if flashyMsg|length > 0%}
		<div class="flashy">
			{{flashyMsg}}				
		</div>
		<br><br>
		{% endif %}