<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="homepage.css">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top"> 
	<div class="container">
		<div class="navbar-header">
			<a href="http://127.0.0.1:5000/" class="navbar-brand">&#10004; HOME</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-nav-demo">
			<ul class="nav navbar-nav">
				<li><a href="#">Class Rooms</a></li>
				<li><a href="#">Indicators</a></li>
				<li><a href="#">Live Data</a></li>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/login">Admin Login <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
</nav>
