
	{% include "header.html" %}

<div class="container" style="width: 65%;">
	<div class="jumbotron" style='text-align: center;'>
		<h1>Air Quality Monitor</h1>
	</div>

		<!-- FIRST ROW STARTS -->
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="thumbnail"><img src="https://www.shifa.com.pk/images/homepage/liver.jpg">
					<div class="frontpagepictext">

						<h5>Liver Transplant</h5>
						<p>We are pioneer in launching first successful Liver Transplant in Pakistan.One of the objectives of this program is to set-up a Center of Excellence for Liver diseases in Pakistan.</p>
					    <a class="btn btn-info" href="liver.html" role="button">Read MORE</a>
					</div>	
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="thumbnail"><img src="https://www.shifa.com.pk/images/homepage/kidneys.jpg">
					<div class="frontpagepictext">

						<h5>Kidney Transplant</h5>
						<p>The section of Urology range from simple urinary tract infections, stones, prostate, diseases, infertility, and impotence to major urological cancer surgeries for kidney, bladder and prostate.</p>
					    <a class="btn btn-info" href="kidneytransplant.html" role="button">Read MORE</a>
					</div>		
				</div>
			</div>
		</div>
		
		<!-- First ROW ENDS -->

		<!-- SECOND ROW STARTS -->
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="thumbnail"><img src="https://www.shifa.com.pk/images/homepage/liver.jpg">
					<div class="frontpagepictext">

						<h5>Liver Transplant</h5>
						<p>We are pioneer in launching first successful Liver Transplant in Pakistan.One of the objectives of this program is to set-up a Center of Excellence for Liver diseases in Pakistan.</p>
					    <a class="btn btn-info" href="liver.html" role="button">Read MORE</a>
					</div>	
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="thumbnail"><img src="https://www.shifa.com.pk/images/homepage/kidneys.jpg">
					<div class="frontpagepictext">

						<h5>Kidney Transplant</h5>
						<p>The section of Urology range from simple urinary tract infections, stones, prostate, diseases, infertility, and impotence to major urological cancer surgeries for kidney, bladder and prostate.</p>
					    <a class="btn btn-info" href="kidneytransplant.html" role="button">Read MORE</a>
					</div>		
				</div>
			</div>
		</div>
		<!-- Second row ends -->

	</div>
	<!-- IMAGES CONTAINER ENDS -->


</body>
</html>
